In [1]:
print("HOPE AI")

HOPE AI

In [2]:
name=(input("Enter your Name:"))
print(name)
age=int(input("Enter your Age:"))
print(age)
school=(input("Enter your School name:"))
print(school)
degree=(input("Enter your degree:"))
print(degree)

Enter your Name:Raj
Raj
Enter your Age:15
15
Enter your School name:Guru school
Guru school
Enter your degree:B.E CSE
B.E CSE

In [3]:
data=(input("Enter your institute name:"))
print(data)

Enter your institute name:Hopes AI
Hopes AI

In [4]:
num1=43
print("a=",num1)
num2=34
print("b=",num2)
add=num1+num2
print("Add=",add)

a= 43
b= 34
Add= 77

In [5]:
num1=43
print("a=",num1)
num2=34
print("b=",num2)
sub=num1-num2
print("SUB=",sub)

a= 43
b= 34
SUB= 9

In [6]:
n1=43
print("a=",n1)
n2=34
print("b=",n2)
mul=n1*n2
print("MUL=",mul)

a= 43
b= 34
MUL= 1462